.label {
  &--user-title {
    @include fontSize(14);
    @include lineHeight(14, 14);
    font-weight: bold;
    color: $appCollorDark;
  }
  &--offer {
    margin-top: 5px;
    padding-left: 15px;
    @include fontSize(14);
    @include lineHeight(18, 14);
    font-weight: bold;
    color: $appCollorDark;
  }
  &--all-categories {
    padding-left: 15px;
    @include fontSize(14);
    @include lineHeight(38, 14);
    font-weight: bold;
    color: $appCollorRed;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}