.ul {
  &--icons {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    li {
      @include fontSize(14);
      @include lineHeight(38,14);
      padding: 0 15px;
      a {
        font-style: normal;
        font-weight: normal;
        color: #555555;

        i,
        svg {
          margin-right: 15px;
          width: 20px !important;
          color: #BCBEC0;
        }
      }
    }
  }
}