$appCollorDark: #454545;
$appCollorWhite: #ffffff;
$appCollorYellow: #ffed00;
$appCollorPurple: #9b51e0;
$appCollorRed: #e3000f;
$appCollorBlue: #0f4b80;
$appCollorGreen: #38aa34;
$appCollorGreenHover: #64B847;
$appCollorGreenFocus: #69CA48;
$appCollorGray: #BCBEC0;
$appCollorGrayType2: #999999;