.aside {
  &--main-menu {
    position: absolute;
    left: -345px;
    top: 0;
    background-color: white;
    width: 345px;
    height: 100%;
    transition: left .2s ease-in-out;
    &::after {
      content: '';
      width: 15px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: white;
      z-index: 1;
    }

    .main-menu__user {
      display: flex;
      flex-direction: column;
      margin: 18px 0 0 0;

      .main-menu__user--static {
        display: flex;
        align-items: center;
        .user-image-wrapper {
          margin-right: 15px;
          .user-image {
            border-radius: 50%;
          }
        }

        .user-data {
          display: flex;
          flex-direction: column;
          span {
            @include fontSize(10);
            @include lineHeight(10, 10);
            font-style: normal;
            font-weight: normal;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        i,
        svg {
          position: absolute;
          right: 30px;
          @include fontSize(16);
          @include lineHeight(16, 16);
          cursor: pointer;
        }
      }



      .drop-down--user {
        height: 0;
        overflow: hidden;
        transition: height .2s ease-in-out;
      }
    }

  }
  &--main-menu.aside--main-menu--open {
    left: 0;
    z-index: 91;
    @include media-breakpoint-down(md) {
      overflow: scroll;
    }

  }
}