#siteFooter.page-footer {
  .newsletter {
    padding: 45px 0 40px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

    h3 {
      @include fontSize(36);
      @include lineHeight(36, 36);
      margin-bottom: 45px;
    }

    .form-group {
      display: inline-flex;

      input {
        margin: 0 auto;
        @include fontSize(16);
        @include lineHeight(20, 16);
        font-weight: 100;
        font-style: italic;
        width: 400px;
        height: 45px;
        border: 0;
        border-bottom: 1px solid $appCollorGray;

        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {  }
        @include media-breakpoint-down(sm) {  }
        @include media-breakpoint-down(xs) {
          width: auto;
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #BCBEC0;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #BCBEC0;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #BCBEC0;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #BCBEC0;
        }
      }

      .btn-green {
        background-color: $appCollorGreen;
        color: $appCollorWhite;
        border: 0;
        border-radius: 5px;
        padding: 0 30px;
        @include fontSize(14);
        @include lineHeight(14, 14);
        letter-spacing: .5px;
        margin-left: 15px;
      }
    }


  }

  .footer {
    padding: 30px;
    border-bottom: 1px solid #EEEEEE;

    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {  }
    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }
    @include media-breakpoint-down(xs) {  }

    &__list-wrapper {

      h5 {
        @include fontSize(18);
        @include lineHeight(28, 18);
        color: $appCollorDark;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 0;
          margin: 0;

          a {
            @include fontSize(16);
            @include lineHeight(33, 16);
            color: $appCollorDark;
            font-weight: 300;
          }
        }
      }
    }

    &__info-wrapper {
      padding: 0 0 0 200px;

      @include media-breakpoint-down(lg) {  }
      @include media-breakpoint-down(md) {  }
      @include media-breakpoint-down(sm) {  }
      @include media-breakpoint-down(xs) {
        padding: 0 0 0 0;
      }

      h5 {
        @include fontSize(18);
        @include lineHeight(28, 18);
        color: $appCollorDark;
        margin-bottom: 15px;
      }
      h6 {
        @include fontSize(40);
        @include lineHeight(44, 40);
        color: $appCollorGreen;
        font-weight: 600;
      }
      a {
        @include fontSize(16);
        @include lineHeight(26, 16);
        color: $appCollorDark;
        font-weight: 300;
      }
    }

    &__payment-security {
      padding: 45px 0 0 200px;

      @include media-breakpoint-down(lg) {  }
      @include media-breakpoint-down(md) {  }
      @include media-breakpoint-down(sm) {
        padding: 45px 0 0 0;
      }
      @include media-breakpoint-down(xs) {  }
      h5 {
        @include fontSize(18);
        @include lineHeight(28, 18);
        color: $appCollorDark;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-flex;

        li {
          a {
            svg {

            }
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 0;

    .app-logo-wrapper {
      padding-top: 14px;

      span {
        display: block;
        @include fontSize(12);
        @include lineHeight(22, 12);
        font-weight: bold;
        color: #999999;
      }
    }

    .apps-wrapper {
      display: inline-flex;

      .apps__text {
        p {
          margin: 0;
          padding: 0;
          @include fontSize(18);
          @include lineHeight(68, 18);
          font-weight: 300;

          @include media-breakpoint-down(lg) {  }
          @include media-breakpoint-down(md) {  }
          @include media-breakpoint-down(sm) {
            display: none;
          }
          @include media-breakpoint-down(xs) {  }
        }
      }
      .apps__ios,
      .apps__android {
        margin-left: 25px;
        padding-top: 14px;
      }
    }

  }
}