header {

  @include media-breakpoint-down(lg) { }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
  @include media-breakpoint-down(xs) {  }
}

.navbar {
  box-shadow: 0 0 20px rgba(0,0,0,0.05);

  .ham-menu {
    width: 74px;
    height: 74px;
    margin: 0;
    background-color: $appCollorRed;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
    left: 0;
    transition: left 1s;
    transition: left 1s;
    //z-index: 88;

    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {
      width: 50px;
      height: 50px;
    }
    @include media-breakpoint-down(sm) {
      left: unset;
      right: -50px;
      transition: right .5s;
    }
    @include media-breakpoint-down(xs) {  }

    &:hover { }

    .in {
      position: absolute;
      left: 20px;
      top: 25px;

      @include media-breakpoint-down(lg) {  }
      @include media-breakpoint-down(md) {
        left: 15px;
        top: 19px;
      }
      @include media-breakpoint-down(sm) {  }
      @include media-breakpoint-down(xs) {  }

      span {
        display: block;
        position: absolute;
        height: 5px;
        width: 35px;
        background: #ffffff;
        opacity: 1;
        left: 0px;
        transition: all .3s;
        z-index: 88;

        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {
          height: 2px;
          width: 28px;
        }
        @include media-breakpoint-down(sm) {  }
        @include media-breakpoint-down(xs) {  }
      }

      span:nth-child(1) {
        display: none;
      }

      span:nth-child(2) { }

      span:nth-child(3) {
        top: 10px;
        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {
          top: 6px;
        }
        @include media-breakpoint-down(sm) {  }
        @include media-breakpoint-down(xs) {  }
      }

      span:nth-child(4) {
        top: 20px;
        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {
          top: 12px;
        }
        @include media-breakpoint-down(sm) {  }
        @include media-breakpoint-down(xs) {  }
      }
    }
  }

  li {
    padding-right: 15px;
    a {
      .fas {
        color: $appCollorDark;
        @include fontSize(18);
        @include lineHeight(14, 18);
      }
    }
  }
}

.navbar-toggler {
  background-color: $primary;
  border: none;
  width: 74px;
  text-align: center;
  display: block;
  float: left;
  i {
    color: #fff;
    line-height: 74px;
    font-size: 34px;
  }
}

.navbar-brand {
  width: 142px;
  height: 70px;
  //background: url('../../../assets/images/logo.svg') no-repeat left center;
  display: inline-block;
  text-indent: -999999px;
}

.app-logo {
  position: relative;
  height: 29px;
  top: 20px;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {
    top: 8px;
  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {  }
  svg {
    path.ca {
      fill: $appCollorGreen;
    }
    path.cs,
    path.cd {
      fill: $appCollorRed;
      @include media-breakpoint-down(lg) {  }
      @include media-breakpoint-down(md) {
        fill: $appCollorWhite;
      }
      @include media-breakpoint-down(sm) {  }
      @include media-breakpoint-down(xs) {  }
    }
  }
}

.basket-toggler {
  background-color: $secondary;
  height: 74px;
  display: block;
  color: #fff;


  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {
    height: 50px !important;
  }
  @include media-breakpoint-down(sm) {
    background-color: $appCollorRed !important;
    padding-right: 30px !important;
  }
  @include media-breakpoint-down(xs) {
    padding-right: 15px;
  }

  &:hover {
    background-color: #64b847;
    color: #fff;
  }
  i {
    line-height: 74px;
    font-size: 20px;
    display: block;
    float: left;
  }
  i.fa-angle-left {
    font-size: 34px;
    background-color: #64b847;
  }
  .badge {
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    display: block;
    border-radius: 50%;
    top: 12px;
    left: 36px;
    letter-spacing: -.05rem;

    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {  }
    @include media-breakpoint-down(sm) {
      top: 5px !important;
      background-color: $appCollorGreen!important;
    }
    @include media-breakpoint-down(xs) {  }
  }
}

.basket-toggler-text {
  display: block;
  text-align: right;
  float: left;
  line-height: 1;
  margin-top: 18px;
  padding-right: 10px;
  strong {
    display: block;
  }
}

.no-underline, .no-underline * {
  text-decoration: none !important
}



.navbar { box-shadow: 0 0 20px rgba(0,0,0,0.05); }
.navbar-toggler { background-color: #e3000f; border: none; width: 74px; text-align: center; display: block; float: left; }
.navbar-toggler i { color: #fff; line-height: 74px; font-size: 34px; }

.basket-toggler {
  background-color: #38aa34;
  height: 74px;
  display: block;
  color: #fff;
  transition: background-color .3s;
}
.basket-toggler:hover {
  background-color: #64b847;
  color: #fff;
  text-decoration: none;
}
.basket-toggler i {
  line-height: 74px;
  font-size: 20px;
  display: block;
  float: left;
  padding-left: 20px;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {
    line-height: 50px;
  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {  }
}
.basket-toggler .badge {
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  display: block;
  border-radius: 50%;
  top: 12px;
  left: 36px;
}

.basket-toggler-text {
  display: block;
  text-align: right;
  float: left;
  line-height: 1;
  margin-top: 25px;
  padding-left: 15px;
  @include fontSize(12);
  @include lineHeight(12,12);
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {
    margin-top: 14px;
  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {  }
}
.basket-toggler-text strong { display: block; }
.basket-toggler {
  margin-right: 0px;
  transition: margin-right 1s;
}
.basket-toggler i.fa-angle-left {
  //position: relative;
  font-size: 34px;
  background-color: #64b847;
  width: 50px;
  text-align: center;
  right: 0;
  transition: right 1s;
  //z-index: 88;
}
.show-cart-menu {
  .basket-toggler i.fa-angle-left {
    position: relative;
    transform: rotate(180deg);
    z-index: 88 !important;
  }
}

@media only screen and (max-width: 2103px)
{
  .show-cart-menu {
    .basket-toggler {
      margin-right: 49px;
    }
    .basket-toggler i.fa-angle-left {
      position: fixed;
      right: 345px;
      z-index: 88;
      transform: rotate(180deg);
      //margin-right: 49px;
    }
  }
}


#sideMenu {
  position: absolute;
  display: block;
  width: 350px;
  height: 100&;
  background-color: $appCollorWhite;
  border-right: 1px solid $appCollorGrayType2;
  left: -350px;
  top: 0;
  transition: left .3s;
  z-index: 1
}
#sideMenu.open {
  left: 0;
}

#overlay {
  right: -100vw;
  opacity: .5;
  background-color: #000000;
  z-index: -1;
  position: absolute;
  width: 0;
  height: 100%;
  transition: opacity .3s;
}

#overlay.open {
  width: calc(100vw - 365px);
  right: 0;
  opacity: .2;
  background-color: #000000;
  z-index: 1;
  transition: width .2s;
}


body {
  .menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s, transform 0s 0.3s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);

    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {
      top: 50px;
    }
    @include media-breakpoint-down(sm) {  }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

body.show-menu {
  .menu-overlay {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    cursor: pointer;
  }
}

body.show-cart-menu {
  .menu-overlay {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    cursor: pointer;
  }
}

//body.show-cart-menu {
//  .menu-overlay {
//    opacity: 1;
//    -webkit-transition: opacity 0.3s;
//    transition: opacity 0.3s;
//    -webkit-transform: translate3d(0,0,0);
//    transform: translate3d(0,0,0);
//  }
//}




/* Close Button */
.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: $appCollorWhite;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: $appCollorWhite;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}













.badge-pill {
  background-color: black;
}
.basket-toggler-text {
  @include fontSize(12);
  @include lineHeight(12, 12);
}

.form-control-sm {
  width: 400px !important;
  height: 50px;
  @include fontSize(18);
  @include lineHeight(18,18);
  font-style: italic;
  color: rgba(209, 209, 209, 0.61);
  font-weight: 300;
  padding-left: 15px;
  border-left: 1px solid #EBEBEB;
  border-right: none;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  background-color: rgba(209, 209, 209, 0.15);

  @include media-breakpoint-down(lg) {
    width: 400px !important;
  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    width: auto;
  }

  &:focus,
  &:active {
    box-shadow:none !important;
    outline: 0px !important;
  }
}

@media only screen and (max-width: 1194px) {
  .form-control-sm {
    width: calc(100% - 150px) !important;
  }
}
@media only screen and (max-width: 991px) {
  .show-cart-menu {
    .basket-toggler {
      margin-right: 0px;
    }

    i.fa-angle-left {
      display: none !important;
    }
  }


  .custom-select--header-search {
    display: none;
  }

  .form-control {
    display: none !important;
  }

  .btn-outline-success {
    position: absolute;
    line-height: 1em;
    color: #454545;
    border-left: none;
    border-right: 0px solid #EBEBEB !important;
    border-top: 0px solid #EBEBEB !important;
    border-bottom: 0px solid #EBEBEB !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    padding: 15px;
    background-color: transparent !important;
    position: absolute;
    right: 0;
  }

  .menu__section--articles-total {
    bottom: 50px !important;
  }

}

.btn-sm.btn-outline-success {
  @include fontSize(18);
  @include lineHeight(18,18);
  color: $appCollorDark;
  border-left: none;
  border-right: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 15px;
  background-color: rgba(209, 209, 209, 0.15);

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {
    color: $appCollorWhite;
  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {  }
}

body.show-menu {
  position: fixed;
  width: 100%;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    position: fixed;
    overflow: hidden;
  }


  .ham-menu {
    z-index: 99 !important;
    .in {
      span:nth-child(1) {
        display: none;
      }

      span:nth-child(2) {
        top: 10px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      span:nth-child(3) {
        top: 10px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: left .3s ease-in-out;
      }

      span:nth-child(4) {
        display: none;
      }
    }
  }
}
body.show-cart-menu {
  position: fixed;
  width: 100%;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    position: fixed;
    overflow: hidden;
  }


  .ham-menu {

    .in {
      span:nth-child(1) {


        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {  }
        @include media-breakpoint-down(sm) {
          display: none;
        }
        @include media-breakpoint-down(xs) {  }
      }

      span:nth-child(2) {
        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {  }
        @include media-breakpoint-down(sm) {
          top: 10px;
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        @include media-breakpoint-down(xs) {  }
      }

      span:nth-child(3) {
        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {  }
        @include media-breakpoint-down(sm) {
          top: 10px;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        @include media-breakpoint-down(xs) {  }
      }

      span:nth-child(4) {
        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {  }
        @include media-breakpoint-down(sm) {
          display: none;
        }
        @include media-breakpoint-down(xs) {  }
      }
    }
  }
}


//
// Side Main Menu
//
.menu-wrap {
  position: absolute;
  top: 0;
  width: 345px;
  height: 100%;
  //border-top: 7px solid $appCollorRed;
  font-size: 1.15em;
  z-index: 1001;
  -webkit-transform: translate3d(-345px,0,0);
  transform: translate3d(-345px,0,0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    overflow: visible;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: $appCollorRed;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $appCollorRed;
    }
  }

  &::before {
    //content: '';
    //position: absolute;
    //width: 100%;
    //height: 7px;
    //background-color: $appCollorRed;
    //top: 0px;
    //left: 0px;
  }

  .menu {
    background: $appCollorWhite;
    width: 100%;
    padding: 15px;
    height: calc(100% + 120px);

    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {  }
    @include media-breakpoint-down(sm) {  }
    @include media-breakpoint-down(xs) {
      height: calc(100% + 180px);
    }

    &__section {
      width: 100%;
      border-bottom: 1px solid rgba(85, 85, 85, 0.2);
      padding: 25px 0;

      ul {

        li {
          transition: all .3s;

          &:hover {
            a {
              text-decoration: underline;
            }
          }

          a {
            display: block;

            i {
              @include fontSize(16);
              @include lineHeight(16, 16);
              width: 20px;
              height: 20px;
              margin-right: 20px;
              text-align: center;
              color: rgba(85, 85, 85, 0.2);
            }
          }
        }
      }

      &--user {
        position: relative;
        padding: 0 0 12px 0;

        .user-image {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: block;
          float: left;
          margin-right: 15px;
          margin-left: 4px;
          position: relative;

          img {
            border-radius: 50%;
          }

          &--have-notification {
            .notification {
              position: absolute;
              background-color: $appCollorRed;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              color: #ffffff;
              right: 0;
              text-align: center;
              @include fontSize(9);
              @include lineHeight(14, 9);
            }
          }
        }

        .p-r {
          display: block;
          a {
            @include fontSize(14);
            @include lineHeight(28, 14);
            color: #555555;
            font-weight: bold;
          }
        }

        .h4 {
          position: relative;
          top: 8px;
          margin: 0 0 2px 0;
          @include fontSize(14);
          @include lineHeight(19, 14);
          color: #555555;
          font-weight: bold;
          padding-bottom: 10px;

          a {
            color: #555555;

            &:hover {
              color: $appCollorGreen;
              text-decoration: underline;
            }
          }
        }

        a {
          position: relative;
          top: 8px;
          margin: 0 0 2px 0;
          padding: 0;
          @include fontSize(14);
          @include lineHeight(19, 14);
          color: #555555;

          &:hover {
            color: $appCollorGreen;
            text-decoration: underline;
          }
        }

        small {
          @include fontSize(10);
          @include lineHeight(10, 10);
          color: #555555;
        }


        ul {
          list-style: none;
          margin: 0;
          padding: 15px 0 0 0;

          li {
            padding: 10px 5px 10px 15px;

            a {
              @include fontSize(14);
              @include lineHeight(19, 14);
              color: #555555;
              font-weight: 300;
              position: relative;

              .notification {
                position: absolute;
                background-color: $appCollorRed;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                color: #ffffff;
                left: 12px;
                bottom: 12px;
                text-align: center;
                @include fontSize(9);
                @include lineHeight(14, 9);
              }

            }

            &:last-child {
              a {
                font-weight: 600;
              }
            }
          }
        }
      }

      &--top {

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            padding: 15px;

            &:first-child,
            &:last-child {
              padding: 0 15px;
            }

            a {
              @include fontSize(14);
              @include lineHeight(19, 14);
              color: #555555;
              font-weight: 300;

            }
          }
        }
      }

      &--midle {
        padding: 25px 15px 15px 0;

        h4 {
          margin-bottom: 0;
          padding-left: 15px;
          @include fontSize(14);
          @include lineHeight(30, 14);
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          margin-bottom: 3px;

          li {
            padding: 10px 5px 10px 15px;

            &:hover {
              background-color: rgba(196, 196, 196, 0.2);
              border-radius: 3px;

              a {
                text-decoration: underline !important;
                &::after {
                  //width: 100%;
                }
              }

            }

            a {
              @include fontSize(14);
              @include lineHeight(19, 14);
              color: #555555;
              font-weight: 300;
              //display: unset;
              //position: static !important;

              &::after {
                //content: '';
                //position: absolute;
                //left: 0;
                //bottom: 2px;
                //width: 10px;
                //height: 1px;
                //background-color: $appCollorDark;
                //transition: width 0.3s;
              }

              i {
                @include fontSize(16);
                @include lineHeight(16, 16);
                color: rgba(85, 85, 85, 0.2);
                padding: 0 0 0 25px;
                float: right;
              }
            }
          }
        }

        ul.second-level-ul {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100%;
          padding: 45px 15px 15px 15px;
          background-color: #fff;

          @include media-breakpoint-down(lg) {  }
          @include media-breakpoint-down(md) {  }
          @include media-breakpoint-down(sm) {  }
          @include media-breakpoint-down(xs) {  }

          span {
            cursor: pointer;
            @include fontSize(14);
            @include lineHeight(17, 14);
            color: #555555;
            font-weight: bold;
            display: block;
            width: 100%;
            padding: 0 0 12px 15px;
            border-bottom: 1px solid rgba(85, 85, 85, 0.2);

            i {
              display: inline-block;
              padding-right: 15px;
            }
          }

          h3 {
            margin-bottom: 0;
            padding: 20px 15px 10px 15px;
            color: #555555;
          }

          li {

            &:hover {
              a {
                text-decoration: underline !important;
              }
            }

            a {
              text-decoration: none!important;
            }
          }

          .link-more {
            text-decoration: none !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }

        ul.second-level-ul.active {
          display: block;
          width: 100%;
          background-color: #fff;
          height: 100%;

          @include media-breakpoint-down(lg) {  }
          @include media-breakpoint-down(md) {  }
          @include media-breakpoint-down(sm) {  }
          @include media-breakpoint-down(xs) {  }

          ul {

            li {

              a {

              }
            }
          }
        }

        ul.third-level-ul {
          display: none;
          position: fixed;
          top: 0;
          left: 200%;
          width: 100%;
          height: 100%;
          padding: 45px 15px 15px 15px;
          background-color: #fff;
          z-index: 99999;

          @include media-breakpoint-down(lg) {  }
          @include media-breakpoint-down(md) {  }
          @include media-breakpoint-down(sm) {  }
          @include media-breakpoint-down(xs) {  }

          span {
            cursor: pointer;
            @include fontSize(14);
            @include lineHeight(17, 14);
            color: #555555;
            font-weight: bold;
            display: block;
            width: 100%;
            padding: 0 0 12px 15px;
            border-bottom: 1px solid rgba(85, 85, 85, 0.2);

            i {
              display: inline-block;
              padding-right: 15px;
            }
          }

          h3 {
            margin-bottom: 0;
            padding: 20px 15px 10px 15px;
            color: #555555;
          }

          li {

            &:hover {
              a {
                text-decoration: underline !important;
              }
            }

            a {
              text-decoration: none!important;
            }
          }

          .link-more {
            text-decoration: none !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }

        ul.third-level-ul.active {
          display: block;
          width: 100%;
          background-color: #fff;
          height: 100%;

          @include media-breakpoint-down(lg) {  }
          @include media-breakpoint-down(md) {  }
          @include media-breakpoint-down(sm) {  }
          @include media-breakpoint-down(xs) {  }

          ul {

            li {

              a {

              }
            }
          }
        }

        .link-more {
          @include fontSize(14);
          color: $appCollorRed;
          font-weight: 800;
          //padding-left: 15px;
        }

      }

      &--bottom {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            padding: 15px;

            &:first-child,
            &:last-child {
              padding: 0 15px;
            }

            a {
              @include fontSize(14);
              @include lineHeight(19, 14);
              color: #555555;
              font-weight: 300;
            }
          }
        }
      }

      &--articles {
        height: 100%;
        overflow: hidden;
      }



    }

  }

  .morph-shape {
    position: absolute;
    width: 70px;
    height: calc(100% + 120px);
    top: 0px;
    right: 0;
    fill: $appCollorWhite;
    z-index: 1000;

    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {  }
    @include media-breakpoint-down(sm) {  }
    @include media-breakpoint-down(xs) {
      height: calc(100% + 220px);
    }
  }

}




//
// Show Menu
//
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transition: transform .4s ease 0s;
  background-color: $appCollorWhite;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
  }
}

//
//
//
.isOpera {}
.isFirefox {}
.isSafari {
  .menu-wrap {
    .menu {
      @include media-breakpoint-down(lg) {  }
      @include media-breakpoint-down(md) {  }
      @include media-breakpoint-down(sm) {  }
      @include media-breakpoint-down(xs) {  }
    }
  }
}
.isIE {}
.isEdge {}
.isChrome {}
.isBlink {}


.show-menu .content-wrap {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(100px,0,0);
  transform: translate3d(100px,0,0);
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.show-menu .menu-wrap.level-two {
  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    overflow: initial;
  }
}

.menu-wrap.level-two {
  &::before {
    width: 200%;
  }
}

.show-menu .menu-wrap.level-three {
  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    overflow: initial;
  }
}

.menu-wrap.three {
  &::before {
    width: 300%;
  }
}



//
// Show-menu
//
.show-menu {
  nav {
    .fa-angle-left {
      display: none;
    }
  }
}



//.sticky {
//  position: fixed;
//  z-index: 99;
//  top: 0;
//  left: 50%;
//  transform: translate(-50%);
//}

//header {
//  margin-bottom: 15px;
//  background-color: $appCollorWhite;
//  .nav-wrapper {
//    background-color: $appCollorWhite;
//  }
//}

//header.scrollable {
//  position: fixed;
//  z-index: 99;
//  top: 0;
//  left: 50%;
//  transform: translate(-50%);
//}

//main-navigation js-navigation main-navigation--sticky main-navigation--show

.main-navigation {
  background-color: $appCollorWhite;

  &--sticky {
    position: fixed;
    top: -74px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    width: 100%;
    transition: top .3s;
  }

  &--show {
    top:0;
  }
}

.main-navigation-wrapper {
  width: 100%;
  background-color: $appCollorWhite;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {
    background-color: $appCollorRed;
  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {  }

  .main-navigation {
    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {
      background-color: $appCollorRed;
      height: 50px;
    }
    @include media-breakpoint-down(sm) {  }
    @include media-breakpoint-down(xs) {  }
    .nav {
      .nav-item {
        .nav-link {
          i {
            @include fontSize(18);
            @include lineHeight(18,18);
            color: #454545;

            @include media-breakpoint-down(lg) {  }
            @include media-breakpoint-down(md) {
              color: #ffffff;
            }
            @include media-breakpoint-down(sm) {  }
            @include media-breakpoint-down(xs) {  }
          }
        }
      }
    }

    .form-inline {
      .custom-select--header-search {
        .select-selected {
          @include fontSize(12);
          @include lineHeight(12,12);
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          border-bottom: 1px solid #EBEBEB;
          border-top: 1px solid #EBEBEB;
          border-left: 1px solid #EBEBEB;
          background-color: #f8f8f8;
          padding: 18px 20px 18px 10px;
          color: #BDBDBD;

          &::after {
            position: absolute;
            top: 20px;
            right: 5px;
            color: #BDBDBD;
          }


        }
        .select-items {
          width: 180px !important;
        }

      }
    }
  }
}






//
// Cart Menu
//
.cart-menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 345px;
  height: 100%;
  //border-top: 7px solid $appCollorGreen;
  font-size: 1.15em;
  z-index: 1001;
  -webkit-transform: translate3d(345px,0,0);
  transform: translate3d(345px,0,0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {
    top: 50px;
  }
  @include media-breakpoint-down(sm) {
    top: 50px;
  }
  @include media-breakpoint-down(xs) {
    overflow: visible;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: $appCollorGreen;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $appCollorGreen;
    }
  }

  &::before {
    //content: '';
    //position: absolute;
    //width: 100%;
    //height: 7px;
    //background-color: $appCollorGreen;
    //top: 0px;
    //left: 0px;
  }

  .menu {
    background-color: $appCollorWhite;
    width: calc(100%);
    padding: 0;
    height: calc(100%);
    position: absolute;
    right: 0;

    .menu-wrap-w {
      position: relative;
      .menu__section--articles {
        height: 100vh;
        overflow-x: scroll;
        padding: 0 15px;
        padding-bottom: 132px;
      }

      .menu__section--articles-total {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $appCollorWhite;
        z-index: 3;

        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {  }
        @include media-breakpoint-down(sm) {
          bottom: 124px;
        }
        @include media-breakpoint-down(xs) {  }

        .menu__section__top {
          padding: 15px;
          color: $appCollorGreen;
          @include fontSize(18);
          @include lineHeight(18,18);
          font-weight: bold;
          -webkit-box-shadow: 0px -27px 60px -4px rgba(0,0,0,0.23);
          -moz-box-shadow: 0px -27px 60px -4px rgba(0,0,0,0.23);
          box-shadow: 0px -27px 60px -4px rgba(0,0,0,0.23);

          //&::before {
          //  content: '';
          //  position: absolute;
          //  width: 100%;
          //  height: 20px;
          //  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.31) 100%);
          //  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0.31) 100%);
          //  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0.31) 100%);
          //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4f000000',GradientType=0 );
          //  top: -20px;
          //  left: 0;
          //}

          .total-title {}
          .total-number {
            float: right;
          }
          .minimum-buy {
            position: static;
            color: $appCollorDark;
            @include fontSize(14);
            @include lineHeight(14,14);
            font-weight: normal;
            width: 100%;
            display: block;
            margin: 10px 0 0px 0;
          }
        }
        .menu__section__bottom {
          background-color: $appCollorGreen;
          padding: 15px;

          i {
            padding: 15px;
            @include fontSize(16);
            @include lineHeight(16,16);
            color: #ffffff;
          }

          .btn--finish-order {
            background-color: $appCollorWhite;
            color: $appCollorGreen;
            text-transform: uppercase;
            font-weight: bold;
            position: absolute;
            right: 15px;
            a {
              color: $appCollorGreen;
              padding: 0 30px;
              @include fontSize(14);
              @include lineHeight(40,14);
            }
          }
        }
      }
    }



  }

}





.show-menu .content-wrap {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(100px,0,0);
  transform: translate3d(100px,0,0);
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}






.show-cart-menu .cart-menu-wrap {
  //display: block;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transition: transform .4s ease 0s;

  @include media-breakpoint-down(lg) {  }
  @include media-breakpoint-down(md) {  }
  @include media-breakpoint-down(sm) {  }
  @include media-breakpoint-down(xs) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}


@media only screen and (max-width: 2100px) {
  .show-menu {
    .main-navigation {
      margin-left: 74px;

      .ham-menu {
        position: fixed;
        left: 345px;
        top: 0;
        z-index: 99;

        @include media-breakpoint-down(lg) {  }
        @include media-breakpoint-down(md) {  }
        @include media-breakpoint-down(sm) {

        }
        @include media-breakpoint-down(xs) {
          position: fixed;
          z-index: 9999;
          top: 0;
          left: unset;
          right: calc(0%);
        }

        .in {
          left: 20px;
          top: 25px;

          @include media-breakpoint-down(lg) {  }
          @include media-breakpoint-down(md) {
            left: 14px;
            top: 14px;
          }
          @include media-breakpoint-down(sm) {  }
          @include media-breakpoint-down(xs) {  }
        }
      }

      .app-logo {
        top: -3px;
      }
    }

  }
}

@media only screen and (max-width: 665px) {
  .menu-wrap {
    top: 50px;
  }
  .show-menu {
    .menu-wrap {
      top: 50px;
    }

    .main-navigation-wrapper {

      .main-navigation {
        margin-left: 0;
        .ham-menu {
          position: static;
          background-color: transparent;
          .in {

          }
        }

        .app-logo {
          top: 8px;
        }
      }

    }
  }

  .show-cart-menu {
    .main-navigation-wrapper {

      .main-navigation {

        .ham-menu {

          .in {
            left: 14px;
            top: 14px;
          }
        }

      }

    }
  }
}

.subheader {
  &--recipe {
    height: 35vh;

    @include media-breakpoint-down(lg) {  }
    @include media-breakpoint-down(md) {  }
    @include media-breakpoint-down(sm) {
      height: 15vh;
    }
    @include media-breakpoint-down(xs) {  }
  }
}