.nav {
  &--main {
    .menu--first-level {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      transition: height .2s ease-in-out;
      @include media-breakpoint-down(md) {
        cursor: pointer;
      }

      .menu__li--first-level {
        cursor: pointer;
        .menu__link--first-level {
          padding: 0 30px 0 15px;
          font-family: 'Open Sans', sans-serif;
          @include fontSize(14);
          @include lineHeight(38,14);
          font-style: normal;
          font-weight: normal;
          color: #555555;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          position: relative;
          &:hover {
            background-color: #eeeeee;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 15px;
            height: 100%;
            background-color: white;
          }
          i,
          svg {
            @include fontSize(20);
            color: rgba(85, 85, 85, 0.2);
          }
        }
      }

      .menu__li--have-second-level {
        &:hover {
          .second-level-menu-container {
            display: flex;
            opacity: 1;
            z-index: 955 !important;
            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }
        .second-level-menu-container {
          position: absolute;
          display: none;
          left: 330px;
          padding: 15px 30px 30px 30px;
          background-color: white;
          opacity: 0;
          z-index: -1;
          transition: opacity .3s ease-in-out;
          max-height: 510px;
          flex-direction: column;
          @include media-breakpoint-down(md) {
            height: 100%;
            max-height: unset;
            top: 0 !important;
          }
          &:hover {}
          h4 {
            @include fontSize(18);
            @include lineHeight(48,18);
            font-weight: bold;
          }
          .second-level-lists {
            display: flex;
            @include media-breakpoint-down(md) {
              flex-direction: column;
            }
            .second-level-lists__col {
              width: 220px;
              @include media-breakpoint-down(md) {
                width: 345px;
              }
            }
          }





          .second-level-menu-container__data {
            display: flex;
          }
          .menu-lists {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            max-height: 400px;
            width: 100%;
          }
          .menu-banner {
            display: block;
            position: relative;
            width: 135px;
            height: 400px;
            background-color: #999999;
            @include media-breakpoint-down(md) {
              display: none;
            }
          }

        }
      }
    }

    .menu--second-level {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      li {
        a {
          @include fontSize(14);
          @include lineHeight(25,14);
          font-weight: bold;
          color: #555555;
        }
      }
    }

    .menu--third-level {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      @include media-breakpoint-down(md) {
        display: none;
      }
      li {
        a {
          @include fontSize(14);
          @include lineHeight(25,14);
          font-weight: normal;
          color: #555555;
        }
      }
    }
    .menu--third-level.menu--third-level--mobile-open {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      padding: 30px;
      background-color: white;
    }
  }
}

.second-level-menu-container--open {
  display: flex !important;
  opacity: 1 !important;
  left: 0 !important;
  z-index: 9999 !important;
  width: 345px !important;
  padding: 15px 30px 30px 15px !important;

  .back-to-first {
    padding: 0 15px
  }
  h4 {
    padding: 0 15px
  }
  .menu--second-level {
    li {
      padding: 7px 0;
      width: calc(100% - 30px);
      &:hover {
        background-color: #eeeeee;
      }
      a {
        padding: 0 15px;
      }
    }
  }
}
.second-level-menu-container--open2 {
  display: none !important;
  opacity: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  width: 0 !important;
}
.menu--third-level--mobile-open {
  padding: 15px 30px 30px 15px !important;

  .back-to-second {
    padding: 0 15px
  }
  h4 {
    padding: 0 15px
  }
  li {
    padding: 7px 0;
    width: calc(100% - 30px);
    &:hover {
      background-color: #eeeeee;
    }
    a {
      padding: 0 15px;
    }
  }
}

.back-to-first {
  @include fontSize(14);
  @include lineHeight(38,14);
  color: #555555;
  font-weight: bold;
  &:hover {
    color: #555555;
  }
}

.back-to-second {
  @include fontSize(14);
  @include lineHeight(38,14);
  color: #555555 !important;
  font-weight: bold !important;
  &:hover {
    color: #555555;
  }
}


@media only screen and (min-width: 992px) {
  .back-to-second {
    display: none;
  }
  .back-to-first {
    display: none;
  }
}