html {
  font-size: 62.5%;
  //-ms-text-size-adjust: 100%;
  //-webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
  //overflow-y: hidden!important;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

// When main menu is open
.main-menu--open {
  html,
  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    padding-right: 15px !important;
  }
  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    padding-right: 15px !important;
  }
  .overlay {
    right: 0;
    z-index: 90;
    opacity: 1;
  }
  .ham-menu {
    z-index: 1 !important;

    .in {
      span:nth-child(2) {
        transform: rotate(225deg);
        top: 10px;
      }
      span:nth-child(3) {
        //display: none !important;
        left: -900px;
      }
      span:nth-child(4) {
        transform: rotate(135deg);
        top: 10px !important;
      }
    }
  }

}



