@import "config";
@import "variables/grid";
@import "variables/colors";
@import "mixins/mixins";

@import "node_modules/bootstrap/scss/bootstrap";

// elements
@import "components/elements/label";
@import "components/elements/ul";

@import "components/header";
@import "components/footer";
@import "components/aside";
@import "components/nav";
@import "components/overlay";
@import "components/buttons";
@import "components/forms";


h1 {
  @include fontSize(70);
  @include lineHeight(72,70);
  @include media-breakpoint-only(xxl) {
    color: red;
  }
}